h1 {
  text-align: center;
  color: #fabada;
  text-decoration: dashed;
}
h2 {
  color: #004f73;
  text-align: center;
}
.characterContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
  margin: 10px;
  h1 {
    color: #fabada;
    text-align: center;
  }
  img {
    border-radius: 25%;
    height: 150px;
    border: 1px solid #004f73;
    box-shadow: 0px 2px 4px #004f73;
  }
  a {
    text-decoration: none;
  }
}

.characterOnlyContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  h1 {
    color: #fabada;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #fabada;
  }
}

.characterOnlyContainer img {
  color: #fabada;
}

.characterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  img {
    width: 180px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #004f73;
    box-shadow: 0px 2px 4px #004f73;
  }
}

.characterEpisodes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: fit-content;
  margin: 20px auto;
  gap: 20px;
  padding: 20px;
  color: #fabada;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  a {
    color: #004f73;
  }
}

.episode-title {
  font-size: 2rem;
  color: #004f73;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  color: #fabada;
  margin-bottom: 20px;
}

.characterCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px #fabada;
  width: 150px;
  margin: 10px;
  padding: 20px;
  gap: 2px;
}

.characterCard h3 {
  font-size: 1rem;
  color: #004f73;
  height: 50px; /* altura fija para alinear todos los nombres */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
}

.characterImage img {
  width: 100%;
  border-radius: 25px;
  transition: transform 0.3s ease;
}

.characterCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.characterCard:hover .imageWrapper img {
  transform: scale(1.1);
}

.casa {
  a {
    text-decoration: none;
    color: #004f73;
    margin: 10px;
    padding: 10px;
  }

  img {
    margin-right: 5px;
  }
}
